.rdp {
    --rdp-cell-size: 40px;
    --rdp-accent-color: #0d9488;
    /* Teal 600 */
    --rdp-background-color: #f0fdfa;
    /* Teal 50 */
    margin: 0;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: var(--rdp-background-color);
    color: var(--rdp-accent-color);
}

.rdp-day_selected {
    background-color: var(--rdp-accent-color);
    color: white !important;
    font-weight: bold;
}

.rdp-day_selected:hover {
    background-color: var(--rdp-accent-color);
    color: white !important;
}

.rdp-day_today {
    font-weight: bold;
    color: var(--rdp-accent-color);
}

/* Ensure selected today day is white */
.rdp-day_selected.rdp-day_today {
    color: white !important;
}